body {
	margin: 0;
}
a {
	text-decoration: none;
}
#newTime {
	margin: 0 auto;
	width: 100%;
	min-width: 1290px;
	height: 521px;
}
#red {
	margin: 0;
	float: left;
	height: 100%;
	width: 430px;
	background-color: #e74f4d;
	display: inline-block;	
}
#newHead1 {
	margin: 0 auto;
	margin-top: 170px;
	color: white;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
}
#line1 {
	margin: 25px auto;
	height: 2px;
	width: 37px;
	background-color: white;
}
#newBtn1 {
	margin: 0 auto;
	height: 42px;
 	width: 170px;
	border: 1px solid white;
	color: white;
	font-size: 22px;
	line-height: 42px;
	text-align: center;
}
#white {
	margin: 0;
	height: 100%;
	width: 430px;
	background-color: white;
	display: inline-block;
}
#newHead2 {
	margin: 0 auto;
	margin-top: 170px;
	color: #494949;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
}
#line2 {
	margin: 25px auto;
	height: 2px;
	width: 37px;
	background-color: gray;
}
#newBtn2 {
	margin: 0 auto;
	height: 42px;
 	width: 170px;
	border: 1px solid #e74f4d;
	color: #e74f4d;
	font-size: 22px;
	line-height: 42px;
	text-align: center;
}
#photo {
	margin: 0;
	float: right;
	clear: right;
	height: 100%;
	width: 430px; 
	background: url(../image/train.png);
	display: inline-block;
}
#point {
	float: left;
	margin-top: 235px;
}
#sentence {
	margin: 0 auto;
	margin-top: 100px;
	width: 100%;
	height: 105px;
}
#become {
	margin: 0 auto;
	font-size: 20px;
	line-height: 65px;
	text-align: center;
	color: #323333;
}
#volunteer {
	margin: 0 auto;
	font-size: 10px;
	line-height: 20px;
	color: #bdbdbd;
	text-align: center;
}
#applyContainer {
	width: 75%;
	height: 280px;
	margin: 0 auto;
	margin-top: 100px;
}
#agreement {
	float: left;
	width: 290px;
	height: 280px;
}
.applyHead {
	font-size: 13px;
	line-height: 40px;
	color: #666160;
}
.applyP {
	font-size: 12px;
	line-height: 20px;
	color: #9d9b9a;
}
.more {
	float: right;
	font-size: 6px;
	color: #9d9b9a;
	line-height: 20px;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:6px;
    font-style:normal;

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#apply {
	float: right;
	width: 640px;
	height: 280px;
	margin: 0;
}
#name,
#age,
#phone,
#adress {
	width: 310px;
	height: 40px;
	background-color: #ededee;
	color: #666160;
	font-size: 10px;
	line-height: 40px;
	border: 0;
	margin-bottom: 15px;
}
#name,
#phone {
	float: left;
}
#age,
#adress {
	float: right;
}
#dream {
	width: 640px;
	height: 120px;
	background-color: #ededee;
	color: #666160;
	font-size: 10px;
	line-height: 40px;
	border: 0;
	margin-bottom: 15px;
}
#submit {
	width: 640px;
	height: 40px;
	background-color: #ededee;
	color: #666160;
	font-size: 15px;
	line-height: 40px;
	border: 0;
	text-align: center;
}
#bottom {
	width: 100%;
	margin: 0 auto;
	margin-top: 170px;
}
#contact {
	width: 100%;
	height: 360px;
	margin: 0 auto;
	background-color: #32353e;
}
#contactUs {
	margin: 0 auto;
	padding-top: 80px;
	font-size: 22px;
	line-height: 35px;
	color: #fff;
	text-align: center;
}
#for {
	width: 470px;
	margin: 0 auto;
	font-size: 10px;
	line-height: 20px;
	color: #fff;
	text-align: center;
}
#email {
	width: 510px;
	height: 40px;
	margin: 25px auto;
}
#leftEmail {
	width: 430px;
	height: 40px;
	color: gray;
	background-color: #fff;
	font-size: 12px;
	line-height: 40px;
	border: 0;
	float: left;
	display: inline-block;
}
#rightSubmit {
	width: 80px;
	height: 40px;
	color: #fff;
	background-color: #6f7278;
	font-size: 16px;
	line-height: 40px;
	border: 0;
	float: right;
	text-align: center;
	display: inline-block;
}
#icon {
	width: 250px;
	height: 50px;
	margin: 0 auto;
}
.iconfont2 {
	font-family:"iconfont" !important;
    font-size:30px;
    color: #fff;
    float: left;
    border:10px solid transparent;
    background-color: #32353e;
    font-style:normal;
    display: inline-block;

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#back {
	margin: 0 auto;
	height: 55px;
	width: 100%;
	background-color: #2f3038;
}
#backLeft {
	float: left;
	margin-left: 100px;
	font-size: 12px;
	line-height: 30px;
	color: #fff;
}
#backRight {
	float: right;
	margin-right: 40px;
	font-size: 12px;
	line-height: 55px;
	color: #fff;
}
@font-face {
	font-family: 'iconfont';
    src: url('../icon/iconfont.eot'); /* IE9*/
    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon/iconfont.woff') format('woff'), /*chrome、firefox*/
    url('../icon/iconfont.ttf') format('truetype'), /*chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
